<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LkDataContext.Properties.Settings.CVAcademicianConnectionString" connectionString="Data Source=LUCKY-MAN;Initial Catalog=CVAcademician;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="LkDataContext.Properties.Settings.CVAcademicianConnectionString1" connectionString="Data Source=LUCKY-MAN;Initial Catalog=CVAcademician;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
