@import url("../BaseFront/StyleSheet.css");

.main .body {
    margin-top: 0px;
    margin-bottom: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: 0px;
}
    .main .body .container .caption {
        padding: 10px 0px;
        /*margin-top:20px;*/
    }

        .main .body .container .caption h1 {
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }

        .main .body .container .caption .content-time {
            margin-top: 10px;
        }

    .main .body .left .widget-list .container ul li {
        display: block;
    }

    .main .body .user-info {
        color: rgb(3, 95, 164);
    }

        .main .body .user-info .container table th {
            width: 70px;
        }

        .main .body .user-info .container .image {
            width: 212px;
            height: 202px;
        }

            .main .body .user-info .container .image img {
                max-width: 210px;
                max-height: 200px;
            }

        .main .body .user-info .personal-info {
            border-top: 1px dashed #DDD;
            padding-top: 10px;
            margin-top: 10px;
        }

        .main .body .user-info .container table {
            width: 100%;
        }

        .main .body .user-info .personal-info th {
            background-color: rgb(252, 231, 230);
            padding: 4px 10px;
            ;
            border: 1px solid rgb(252, 231, 230);
        }

        .main .body .user-info .personal-info td {
            padding: 4px;
        }

    .main .body .right .project-list .list-item {
        float: left;
        min-width: 220px;
    }

    .main .body .block-center .project-list .list-item {
        width: auto;
        float: none;
    }
    /*begin activity-list */
    .main .body .right .activity-list .list-item {
        display: inline-block;
        width: 380px;
    }

    .main .body .right a {
        color: rgb(72, 75, 75);
    }
    /*end activity-list */
    /*Attachment list*/

    .main .body .attachment-list {
        padding: 2px;
        width: 596px;
    }

        .main .body .attachment-list .caption {
            background-color: rgb(249, 243, 243);
            padding: 5px;
            margin-bottom: 10px;
        }

        .main .body .attachment-list .attachment-item {
            display: inline-block;
        }

            .main .body .attachment-list .attachment-item .label {
                margin-bottom: 10px;
                text-align: center;
            }

    .main .body .detail-widget .container fieldset {
        margin-top: 20px;
    }

    .main .body .detail-widget .right {
        width: auto;
    }

    .main .body .detail-widget .action {
        margin-top: 10px;
    }

    .main .body .detail-widget .left {
        width: 400px;
    }

    .main .body .data-time {
        text-align: right;
    }
    /*block-center*/
    .main .body .block-center .widget {
        border: 0px;
    }

        .main .body .block-center .widget .bar {
            display: none;
        }

        .main .body .block-center .widget .container {
            margin-left: 0px;
        }

    .main .body .right .block-center .search-block {
        margin-bottom: 10px;
        display: block;
    }

        .main .body .right .block-center .search-block .search {
            float: right;
            position: relative;
            margin-right: 10px;
            margin-top: 10px;
        }

            .main .body .right .block-center .search-block .search a {
                position: relative;
                top: 2px;
            }

    .main .body .right .block-right .widget .container {
        margin-left: auto;
    }

    .main .body .right .block-right .activity-list .list-item {
        width: auto;
    }

    .main .body .right .search-block {
        display: none;
    }

    .main .body .right .daily-list ul {
        list-style-type: circle;
    }

    .main .body .right .project-list .list-item{
        border-bottom-width: 0px;
    }

    .main .body .list-item {
        margin: 8px 18px 8px 5px;
        border-bottom: 1px dashed rgb(193, 193, 193);
    }


    .main .body .right .block-right .daily-list .list-item {
        margin-right: 10px;
    }
    .main .body .right .widget-list .bar .caption {
        float: none;
    }