@import url("../BaseManage/StyleSheet.css");
@import url("../BaseManage/ControlSkin.css");
.body-content .main .wrap-right .user-right.upload-image .image-container
{
    border:1px solid #ddd;
    width:210px;
    height:200px;
    text-align:center;
}