@import url("../BaseManage/StyleSheet.css");
.body-content .main .wrap-right .user-left
{
    float:left;
    margin-right:20px;
}
.body-content .main .wrap-right .user-right
{
    float:left;
    position:relative;
}
.body-content .main .wrap-right .user-right.upload-image .image-container
{
    border:1px solid #ddd;
    width:210px;
    height:200px;
    text-align:center;
}
.body-content .main .wrap-right .file-Upload input[type="file"]
{
    /*width:42px !important;*/
    right:70px;
    width:87px;
    height:30px;
}
.body-content .main .wrap-container .wrap-right .user-introduce .action
{
    padding-right:200px;
}