<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CVAcademician" connectionString="Data Source=LUCKY-Man;initial catalog=CVAcademician;User Id=sa;Password=1234;connection lifetime=0;min pool size=1;max pool size=10;Connection Timeout=30" />
  </connectionStrings>
  <appSettings>
    <add key="MailHost" value="smtp.126.com"/>
    <add key="MailPort" value="25"/>

    <add key="MailUserName" value="noreplay_xmca@126.com"/>
    <add key="MailPassword" value="19870214"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
